<div class="gallery">


    <div class="jumbotron">
        <h1 class="card-title">Comprar Boletos</h1>
    </div>

    <!-- MENSAJES-->

    {{#if info }}
    <div class="alert alert-success">
        {{ info }}
    </div>
    {{/if}}
    <!-- CARD BUSQUEDA -->
    <div class="card-columns" style="display:flex;">
        <div class="card" style="width: 30rem;">
            <img src="images/boleto.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="text-center"><b>Busca tu pasaje de bus en TransNIC!  </b></h2>
                <form action="/compra_buscar" method="POST">
                    <br>
                    <div class="row text-left" style="margin-bottom:4px;">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 block-display">
                            <div class="input-group" >
                                <div class="input-group-addon">Origen</div>
                                <select name="origen_buscar" id="origen_buscar">
                                    <option value="">Seleccione...</option>
                                    {{#each frecuencias as |frecuencia i| }}
                                    <option id="opOrigen{{i}}" value="{{ frecuencia.rutum.origen }}">{{ frecuencia.rutum.origen }}</option>
                                    <script>
                                        var html = "";
                                        if ($('#opOrigen{{i}}').val("{{ frecuencia.rutum.origen }}") != "HOLA") {

                                            html = html + '<option id="opOrigen{{i}}" value="{{ frecuencia.rutum.origen }}">{{ frecuencia.rutum.origen }}</option>';

                                        }
                                        $('#origen_buscar').html(html);
                                    </script>
                                    {{/each}}
                                </select>
                                <span class="error-msg"></span>
                            </div>
                            <div class="input-group" >
                                <div class="input-group-addon">Destino</div>
                                <select name="destino_buscar" id="destino_buscar">
                                    <option value="">Seleccione...</option>
                                    {{#each frecuencias as |frecuencia i| }}
                                    <option value="{{ frecuencia.rutum.destino }}">{{ frecuencia.rutum.destino }}</option>
                                    {{/each}}
                                </select>
                                <span class="error-msg"></span>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 ">
                            <div class="input-group" >
                                <button type="submit" class="btn btn-primary mb-2">Busca tu pasaje</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

<!-- CARD TABLA -->
        <div class="card" style="width: 50rem;">
            <div class="card-header"> <b>    Viajes Disponibles!</b> </div>
            <div class="card-body">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Nro Bus</th>
                            <th scope="col">Comprar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each frecuencias as |frecuencia i| }}
                        <tr>
                            <td>{{i}}</td>
                            <td>{{ frecuencia.rutum.origen }}</td>
                            <td>{{ frecuencia.rutum.destino }}</td>
                            <td>{{ frecuencia.fecha }}</td>
                            <td>{{ frecuencia.horario }}</td>
                            <td>${{ frecuencia.rutum.valor }}</td>
                            <td>{{ frecuencia.bus.numeroBus }}</td>
                            <td>
                              <a href="/frecuencia/{{frecuencia.id}}" id="bComprar{{i}}" class="btn btn-success" type="button">Comprar</a>
                            </td>
                        <script>

                        $("#bComprar{{i}}").click(function () {
                            $("#external").val('{{frecuencia.external_id}}');
                            $("#id_frecuencia").val('{{frecuencia.id}}');
                            $("#origen").val('{{ frecuencia.rutum.origen }}');
                            $("#destino").val('{{ frecuencia.rutum.destino }}');
                            $("#fecha").val('{{ frecuencia.fecha }}');
                            $("#hora").val('{{ frecuencia.horario }}');
                            $("#numeroBus").val('{{ frecuencia.bus.numeroBus }}');
                            $("#total").val('{{ frecuencia.rutum.valor }}');
                        });
                    </script>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
