<title>{{titulo}}</title>

<div class="gallery">
    <div class="jumbotron">
        <h1 class="display-4">Frecuencias y Rutas</h1>
        <p class="lead">Aqui podrá revisar todas las Rutas y Horarios que posee nuestra cooperativa <br>
            Podrá consultar por rutas, horarios y el costo que tiene cada Destino</p>
    </div>

    <div class="search">
        <form>
            <input type="search" class="search_input menu_mm" placeholder="Ingrese el destino" required="required">
            <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="/images/magnifying-glass.svg" alt=""></button>
        </form>
    </div>
    <table data-aos='fade-down' class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th><th scope="col">Origen</th><th scope="col">Destino</th>
                <th scope="col">Salida</th><th scope="col">Valor</th><th scope="col">Bus</th>
            </tr>
        </thead>
        <tbody>
            {{#each frecuencias as |frecuencia i| }}
            <tr>
                <td>{{i}}</td>
                <td>{{ frecuencia.rutum.origen }}</td>
                <td>{{ frecuencia.rutum.destino }}</td>
                <td>{{ frecuencia.horario }}</td>
                <td>${{ frecuencia.rutum.valor }}</td>
                <td>{{ frecuencia.bus.numeroBus }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
