<title><%= titulo %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-100 p-b-20">

            {{#if exito }}
            <div class="alert alert-success">
                {{ exito }}
            </div>
            {{/if}}

            {{#each persona as |persona i| }}
            <form class="login100-form validate-form" method='POST' action='/modificarPerfil'>
                <input type="hidden" name="externalPersona" value="{{persona.external_id}}" id="externalexternalPersona">
                <input type="hidden" name="externalCuenta" value="{{persona.cuentum.external_id}}" id="externalCuenta">
                <span class="login100-form-title p-b-50">
                    Modificar perfil
                </span>
                <span class="login100-form-avatar">
                    <img src="images/avatar-01.png" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese una cedula valida" >
                    <small> Cedula: </small>
                    <input class="input100" type="text" name="cedula" value="{{persona.cedula}}" readonly>
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese sus nombres">
                    <small> Nombre: </small>
                    <input class="input100" type="text" name="nombres" value="{{persona.nombre}}">
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese sus apellidos">
                    <small> Apellido: </small>
                    <input class="input100" type="text" name="apellidos" value="{{persona.apellido}}">
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese su direccion">
                    <small> Direccion: </small>
                    <input class="input100" type="text" name="direccion" value="{{persona.direccion}}">
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese su telefono">
                    <small> Teléfono: </small>
                    <input class="input100" type="text" name="telefono" value="{{persona.telefono}}">
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese un correo valido">
                    <small> Correo: </small>
                    <input class="input100" type="email" name="correo" value="{{persona.cuentum.usuario}}">
                </div>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingrese su contraseña">
                    <small> Clave: </small>
                    <input class="input100" type="password" name="clave" value="{{persona.cuentum.clave}}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-secondary"  id="cancelar"><a href="/modificarPerfil">Cancelar </a></button>
                    <button type="submit" class="btn btn-success" id="btn">Guardar cambios</button>
                </div>

            </form>
            {{/each}}

        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

