<!--<script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.5/minicart.min.js"></script>-->
<!--<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=E541A0846631E1BCCEBFCCA07F7E4FC2.uat01-vm-tx01"></script>-->


<!-- Modal Comprar -->


<div class="gallery">




    <form id="formPago" method="post" >



        <input type="hidden" name="external" value="0" id="external">

        <input type="hidden" name="asientos" id="asientos">
        <h3 class="bg-light" id="tituloFormulario">COMPRA DE BOLETOS</h3>
        <div class="form-group">
            <small> Nombre de Cliente :</small>
            <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombres Apellidos" required value="{{usuario}}" readonly><br>
        </div>
        {{#each frecuencias as |frecuencia i| }}
        <div class="form-group">
            <label for="origen">Ruta</label><br>
            <small> Origen: </small>
            <input class="form-control" type="text" name="origen" id="origen" placeholder="Ciudad de Partida" required minlength="3" maxlength="50" value="{{frecuencia.rutum.origen}}" readonly><br>
            <small> Destino: </small>
            <input class="form-control" type="text" name="destino" id="destino" placeholder="Ciudad de Llegada" required minlength="3" maxlength="50" value="{{frecuencia.rutum.destino}}" readonly><br>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha y Hora</label><br>
            <small> Fecha: </small>
            <input class="form-control" type="date" name="fecha" id="fecha" required value="{{frecuencia.fecha}}" readonly>
            <small> Hora: </small>
            <input class="form-control" type="time" name="hora" id="hora" value="{{frecuencia.horario}}" required readonly>
        </div>
        <div class="form-group">
            <small> Unidad de transporte: </small>
            <input class="form-control" type="number" name="numeroBus" id="numeroBus" placeholder="00" required min="1" max="999" value="{{frecuencia.bus.numeroBus}}" readonly>
        </div>
        <div class="form-group">
            <small> Cantidad de Asientos: </small>
            <input class="form-control" type="number" name="cantidad_asientos" id="cantidad_asientos" placeholder="00" required min="1" max="40">
        </div>
        <div class="form-group">
            <div class="textbox-wrap">
                <label for="total"> <b>Total: </b> </label>
                <i class="fa fa-dollar"> </i>
                <input class="number" type="text" name="total" id="total" readonly>
            </div>
        </div>
        <script>

            var cantidad = 0;
            var suma = 0;
            var tot = {{ frecuencia.rutum.valor }} * 1;
            $("#cantidad_asientos").change(function () { //hay que mejorar la manera de calcular el total, ya que no se actualiza el total automaticamente al ir seleccionando asientos
            calculos();
            });
            function calculos() {
            cantidad = $('#cantidad_asientos').val();
            suma = tot * cantidad;
            $('#total').val(suma.toFixed(2));
            }
            $(document).ready(function () {
                $('#formPago').attr('action', '/comprar/{{frecuencia.id}}');
            });
            
        </script>
        {{/each}}

        <script>
            function crearAsientos() {
            var html = "";
            var n = 1; //n es el valor de cada asiento
            for (var h = 0; h < 4; h++) {
            html += '<ul style="float:left;">';
            for (var i = 0; i < 10; i++) {
            if (h > 0) {
            n = 2;
            if (h > 1) {
            n = 3;
            if (h > 2) {
            n = 4;
            }
            }
            }
            if (i > 0) {
            n = i * 4 + n;
            }
            html += '<li>';
            html += '<a class="btn btn-secondary fa fa-stop" id="bt' + n + '" onclick="seleccion(' + n + ')">';
            html += '<b>' + n + '</b>';
            html += '</a>';
            html += '</li>';
            n = 1;
            }
            html += '</ul>';
            }
            $("#espacioAsientos div").html(html);
            }
            var arregloAsientos = [];
            //funcion que permite ir almacenando en el arregloAsientos cada asiento seleccionado
            function seleccion(numeroAsiento){
            arregloAsientos.push(numeroAsiento);
            $('#bt' + numeroAsiento).attr('hidden', 'true');
            $("#cantidad_asientos").val(arregloAsientos.length);
            var aux = '';
            //esta parte sirve para almacenar cada elemento del arreglo en un input hidden para su guardado
            for (var i = 0; i < arregloAsientos.length; i++) {
            aux = aux + arregloAsientos[i] + ',';
            $("#asientos").val(aux);
            }
            console.log(arregloAsientos);
            };
            $(document).ready(function () {

            
            var asientosOcupados = [];
            //para cada string de numeroAsiento lo almacena en un arreglo asientosOcupados
            {{#each boletos as | boleto i | }}
            asientosOcupados = asientosOcupados + "{{boleto.NumeroAsiento}}".split(",");
            {{/each}}
                    //almacena tambien las comas por eso hay que hacer otro split para obtener un arreglo limpio *SE PUEDE MEJORAR ESTO
                    console.log(asientosOcupados.split(','));
            crearAsientos();
            //para cada elemento del arreglo va poniendo la propiedad hidden a los asientos
            for (var i = 0; i < asientosOcupados.split(',').length; i++) {
            $('#bt' + (asientosOcupados.split(',')[i])).attr('hidden', 'true');
            }
            });
        </script>
        <div class="form-group" id="espacioAsientos">
            <small> Seleccione los asientos deseados </small>
            <div></div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelar">Cancelar</button>
                <button type="submit" class="btn btn-success" id="btn">Pagar</button>
            </div>     
        </div>

    </form>



</div>

