<script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script> <!--SCRIPT GENERADOR DE PDF -->
<script type="text/javascript" src="/js/html2canvas.js"></script>   <!-- SCRIPT CONVERSOR DE FORMATOS DE IMG A PDF -->
<script type="text/javascript">
    //FUNCION PARA GENERAR PDFS
    function genPDF() {
        html2canvas(document.getElementById('boleto')).then(function (canvas) {
            var img = canvas.toDataURL('image/png');
            var doc = new jsPDF();
            doc.addImage(img, 'JPEG', 20, 20);
            doc.save('reporte_boleto.pdf');
        });
    }
</script>


<title>{{titulo}}</title>

<div class="gallery">
    <div class="jumbotron" id="jumbotron">
        <h1  class="display-4">BOLETOS ADQUIRIDOS</h1>
        <p class="lead">Aqui podrá ver y descargar todos sus boletos vigentes</p>
    </div>
</div>

<div class="extra clearfix" >
    <div class="extra_promo extra_promo_1">
        <div class="card bg-light mb-6" style="max-width: 75rem;">
            <div class="card-header text-center"> <img src="\images\icons\logo.png" alt="" width='100'> COOPERATIVA TRANSNIC</div>
            <div class="card-body">

                <table data-aos='fade-down' class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Numero Boleto</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each boletos as |boleto i|}}
                        <tr>
                            <td>{{ boleto.id }}</td>
                            <td>{{ boleto.frecuencium.rutum.origen }}</td>
                            <td>{{ boleto.frecuencium.rutum.destino }}</td>
                            <td>{{ boleto.frecuencium.fecha }}</td>
                            <td>{{ boleto.frecuencium.horario }}</td>
                            <td>
                                <a href="#jumbotron" type="button" id="bVer{{i}}" class="btn btn-warning">
                                    Generar
                                </a>
                            </td>
                    <script>
                        $("#bVer{{i}}").click(function () {
                            $("#nro").html('{{ boleto.id }}');
                            $("#cliente").html('{{ cliente }}');
                            $("#numeroAsientos").val('{{ boleto.numeroAsientos }}');
                            $("#origen").html('{{ boleto.frecuencium.rutum.origen }}');
                            $("#destino").html('{{ boleto.frecuencium.rutum.destino }}');
                            $("#fecha").html('{{ boleto.frecuencium.fecha }}');
                            $("#horario").html('{{ boleto.frecuencium.horario }}');
                            $('#asientos').html('{{boleto.NumeroAsiento}}');
                            $('#unidad').html('{{boleto.frecuencium.bus.numeroBus}}');
                            $('#total').html('${{boleto.valorTotal}}');
                            $("#bVer{{i}}").attr("href", "javascript:genPDF()");
                            var title = "REPORTE DE BOLETOS"
                            var extra = {
                                icon: "/images/icons/logo.png",
                                body: "Genarando PDF. Por favor espere ! "
                            }
                            // Lanzamos la notificación
                            var noti = new Notification(title, extra)
                            setTimeout(function () {
                                noti.close()
                            }, 5000)
                        });
                    </script>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="extra_promo extra_promo_2" id="boleto">
        <div class="card bg-light mb-6" style="max-width: 25rem;">
            <div class="card-header text-center"> <img src="\images\icons\logo.png" alt="" width='100'> COOPERATIVA TRANSNIC</div>
            <div class="card-body">
                <h5 class="card-title text-right"> <i>BOLETO ELECTRONICO</i> </h5>
                <p class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">BOLETO</th>
                            <th scope="col"></th>
                            <th scope="col">NRO</th>
                            <th scope="col"> <b>000</b><b id="nro"></b> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Nombre: </th>
                            <td colspan="3" id="cliente"></td>
                        </tr>
                        <tr>
                            <th scope="row">Origen: </th>
                            <td id="origen"></td>
                            <td> <b>Destino: </b> </td>
                            <td id="destino"></td>
                        </tr>
                        <tr>
                            <th scope="row">Fecha: </th>
                            <td id="fecha"></td>
                            <td> <b>Hora: </b> </td>
                            <td id="horario"></td>
                        </tr>

                        <tr>
                            <td> <b>Asiento(s): </b> </td>
                            <td id="asientos"></td>
                        </tr>
                        <tr>
                            <th scope="row" >Unidad: </th>
                            <td id="unidad"></td>
                            <th scope="row">Valor: </th>
                            <td id="total"></td>
                        </tr>
                    </tbody>
                </table>

                <img src="/images/qr.jpg" alt="qr" width="100">
                <div class="extra_1_text text-center">Boleto Especial <br> Todos los derechos reservados a la cooperativa TransNIC</div>
                </p>
            </div>
        </div>
    </div>
</div>
