<title>{{titulo}}</title>



<div class="gallery" >
    <div class="jumbotron">
        <h1  class="display-4">Buses</h1>
        <p class="lead">Aqui podrá revisar todas las Unidades que posee la cooperativa <br></p>
    </div>


    <table data-aos='fade-down' class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero Bus</th>
                <th scope="col">Placa</th>
                <th scope="col">Propietario</th>
                <th scope="col">Numero Asientos</th>
            </tr>
        </thead>
        <tbody>
            {{#each buses as |bus i|}}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ bus.numeroBus }}</td>
                <td>{{ bus.placa }}</td>
                <td>{{ bus.propietario }}</td>
                <td>{{ bus.numeroAsientos }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

