  <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
  <script type="text/javascript" src="/js/html2canvas.js"></script>
  <script type="text/javascript">
    function genPDF() {
      $('#bDescargar').attr('style','visibility: hidden');
      html2canvas(document.getElementById('boleto')).then(function(canvas) {
        var img = canvas.toDataURL('image/png');
        var doc = new jsPDF();
        doc.addImage(img, 'JPEG', 20, 20);
        doc.save('test.pdf');
      });
    }
  </script>
</head>

<body>
  <div class="gallery">
    <!-- MENSAJES-->

    {{#if info }}
    <div class="alert alert-success">
        {{ info }}
    </div>
    {{/if}}
    <div id="bDescargar" class="button extra_1_button" style="left: 275px;"><a href="javascript:genPDF()">Descargar</a></div>
    <div class="extra clearfix" id="boleto">
      <div class="extra_promo extra_promo_1">
        <div class="card bg-light mb-6" style="max-width: 50rem;">
           <div class="card-header text-center"> <img src="\images\icons\logo.png" alt="" width='100'> COOPERATIVA TRANSNIC</div>
            <div class="card-body">
              <h5 class="card-title text-right"> <i>BOLETO ELECTRONICO</i> </h5>
              <p class="card-text">
                {{#each frecuencias as |frecuencia i|}}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">BOLETO</th>
                      <th scope="col"></th>
                      <th scope="col">NRO</th>
                      <th scope="col"> <b>000</b><b id="nro"></b> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Nombre: </th>
                      <td colspan="3" id="cliente"></td>
                    </tr>
                    <tr>
                      <th scope="row">Origen: </th>
                      <td>{{frecuencia.rutum.origen}}</td>
                      <td> <b>Destino: </b> </td>
                      <td>{{frecuencia.rutum.destino}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Fecha: </th>
                      <td>{{frecuencia.fecha}}</td>
                      <td> <b>Hora: </b> </td>
                      <td>{{frecuencia.horario}}</td>
                    </tr>

                    <tr>
                      <td> <b>Asiento(s): </b> </td>
                      <td id="asientos"></td>
                    </tr>
                    <tr>
                      <th scope="row" >Unidad: </th>
                      <td>{{frecuencia.bus.numeroBus}}</td>
                      <th scope="row">Valor: </th>
                      <td id="total"></td>
                    </tr>
                  </tbody>
                </table>
                <script>
                  var frecuencia= '{{frecuencia.id}}';
                  function consulta(frecuencia) {
                    console.log('di hola si estas aqui');
                    var url = 'http://localhost:3000/frecuencia/' + frecuencia;
                    $.ajax({
                      url: url,
                      type: 'GET',
                      dataType: 'json',
                      success: function(data, textStatus, jqXHR) {
                        console.log(data);
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                      }
                    });
                  }
                </script>
                {{/each}}
                <img src="/images/qr.jpg" alt="qr" width="100">
                <div class="extra_1_text text-center">Boleto Especial <br> Todos los derechos reservados a la cooperativa TransNIC</div>
              </p>
            </div>
          </div>
      </div>
    </div>

    <script>
      $('#cliente').html('{{cliente}}');
      {{#each boleto as |bol i|}}
      $('#asientos').html('{{bol.NumeroAsiento}}');
      $('#total').html('${{bol.valorTotal}}');
      $('#nro').html('{{bol.id}}');
      {{/each}}
    </script>
