<title>{{titulo}}</title>

<div class="gallery" >
    <div class="jumbotron">
        <h1  class="display-4">Buses</h1>
        <p class="lead">Aqui podr치 administrar todas las Unidades que posee la cooperativa <br>
            Podr치 constatar y registrar nuevas rutas y horarios, editar, eliminar y dar de baja</p>
    </div>
</div>

<div class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Registrar
    </button>

    <!-- Modal -->
    <form id="formBus" method="post" >
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">{{titulo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="external" value="0" id="external">
                        <h3 class="bg-light">Datos cliente</h3>
                        <div class="form-group">
                            <small> Numero de bus :</small>
                            <input class="form-control" type="number" name="numerobus" id="numeroBus" placeholder="Numero de Bus Unico" required min="0" max="999"><br>
                        </div>
                        <div class="form-group">
                            <small> Placa: </small>
                            <input class="form-control" type="text" name="placa" id="placa" placeholder="Placa de Bus Unica" required minlength="7" maxlength="8"><br>
                        </div>
                        <div class="form-group">
                            <small> Propietario: </small>
                            <input class="form-control" type="text" name="propietario" id="propietario" placeholder="Nombre Apellido" required maxlength="50">
                        </div>
                        <div class="form-group">
                            <small> Ingrese el numero de asientos: </small>
                            <input class="form-control" type="number" name="numeroasientos" id="numeroAsientos" placeholder="00" required min="10" max="99">
                        </div>
                        <div class="form-group" id="divBaja" style="visibility: hidden;">
                            <small> Seleccione si desea Dar de Baja: </small>
                            <input  type="checkbox" name="estado" id="estado" value="1" onclick="clicEliminar"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelar">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="btn">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


<script>

$("#estado").on('change', function () {
    if ($(this).is(':checked')) {
        $('#btn').html('Dar de Baja');
        $(this).attr('value', '0');
    } else {
        $('#btn').html('Editar');
        $(this).attr('value', '1');
    }
    $('#estado').text($('#estado').val());
});

$().ready(function () {
    $("#btn").click(function () {
        var external = $("#external").val();
        if (external == "0") {
            $('#formBus').attr("action", "/guardar_bus");
        }else {
            $('#formBus').attr("action", "/editarBus");
        }
    });
    $("#cancelar").click(function () {
        $("#external").val('0');
        $("#numeroBus").val('');
        $("#placa").val('');
        $("#propietario").val('');
        $("#numeroAsientos").val('');
        $("#estado").val('');
        $("#divBaja").attr('style', 'visibility:hidden;');
    });
});


</script>

{{#if mensaje }}
<div class="alert alert-warning">
    {{ mensaje }}
</div>
{{/if}}

{{#if exito }}
<script>
var title = "Administraci칩n Buses"
var extra = {
icon: "/images/icons/logo.png",
body: "{{ exito }}"
}
// Lanzamos la notificaci칩n
var noti = new Notification( title, extra)
setTimeout( function() { noti.close() }, 10000)
</script>
{{/if}}

    <div class="col-12">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <form action="/administrador/buses" method="get">
                        <button type="submit" class="btn btn-warning">LISTAR TODOS</button>
                    </form>
                </div>
                <div class="col col-lg-2">
                    <form action="/administrador/busesActivos" method="get">
                        <button type="submit" class="btn btn-warning">LISTAR ACTIVOS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table data-aos='fade-down' class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero Bus</th>
                <th scope="col">Placa</th>
                <th scope="col">Propietario</th>
                <th scope="col">Numero Asientos</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
             {{#each buses as |bus i|}}
          <tr>
              <th scope="row">{{ i }}</th>
              <td>{{ bus.numeroBus }}</td>
              <td>{{ bus.placa }}</td>
              <td>{{ bus.propietario }}</td>
              <td>{{ bus.numeroAsientos }}</td>
              <td>{{ bus.estado}}</td>
              <td>
                <!-- Modal Editar -->
                <button type="button" id="bEditar{{i}}" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                    Editar
                </button>
              </td>
              <script>
              $("#bEditar{{i}}").click(function() {
                  $("#external").val('{{bus.external_id}}');
                  $("#numeroBus").val('{{ bus.numeroBus }}');
                  $("#placa").val('{{ bus.placa }}');
                  $("#propietario").val('{{ bus.propietario }}');
                  $("#numeroAsientos").val('{{ bus.numeroAsientos }}');
                  $("#estado").val('{{ bus.estado }}');
                  $("#divBaja").attr('style', 'visibility:visible;');
              });
              </script>
          </tr>
           {{/each}}
        </tbody>
    </table>
