<title>{{titulo}}</title>

<div class="gallery">
    <div class="jumbotron">
        <h1  class="display-4">Frecuencias y Rutas</h1>
        <p class="lead" id="texto">Aqui podr치 administrar todas las Rutas y Horarios que posee la cooperativa <br>
            Podr치 constatar y registrar nuevas rutas y horarios, editar, eliminar y dar de baja</p>
    </div>

<div class="container" >
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Rutas</h2>
            </div>
            <div class="col-sm">
                <h2>Frecuencias</h2>
            </div>
        </div>
    </div>

    <form id="formDestino" method="post">

        <div data-aos='fade-up' class="container">
            <input type="hidden" name="external" value="0" id="external">
            <input type="hidden" name="externalFrecuencia" value="0" id="externalFrecuencia">
            <div class="row justify-content-md-center">
                <!-- Rutas -->

                <div class="col-6">
                    <h3 class="bg-light">Indique la Ruta</h3>
                    <div class="form-group">
                        <small> Ingrese el Origen </small>
                        <input class="form-control" type="text" name="origen" id="origen" required><br>
                    </div>
                    <div class="form-group">
                        <small> Ingrese el Destino </small>
                        <input class="form-control" type="text" name="destino" id="destino" required><br>
                    </div>
                    <div class="form-group">
                        <small> Ingrese el valor del boleto </small>
                        <input class="form-control" type="number" name="valor" id="valor" required min="1" step=".01">
                    </div>


                </div>

                <!-- Frecuencias -->
                <div class="col-6">
                    <h3 class="bg-light">Indique la Frecuencia</h3>
                    <div class="form-group">
                        <small> Ingrese la fecha del viaje </small>
                        <input class="form-control" type="date" name="fecha" id="fecha" required><br>
                    </div>
                    <div class="form-group">
                        <small> Ingrese hora de Salida </small>
                        <input class="form-control" type="time" name="hora_salida" id="horaS" required><br>
                    </div>

                    <div class="form-group">
                        <small> Ingrese el numero del bus </small>
                        <select required name="bus" id="bus">
                            <option>Seleccione...</option>
                            {{#each buses }}
                            <option name="bus" id="bus" value="{{ id }}">{{ numeroBus }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" onclick="llamarFirebase()" class="btn btn-success btn-block" id="btn">Guardar</button>
                    <div id="divBaja" style='visibility:hidden;'>
                        <input type="checkbox" value='true' id="estado" name="estado" onclick="clicBaja()">
                        <label for="estado">Reactivar / Dar de Baja</label>
                        <input type="radio" value="0" id="eliminar" name="opcion" onclick="clicEliminar()">Eliminar
                        <input type="radio" value="editar" name="opcion" onclick="clicEditar()">Editar
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <small>Seleccione unicamente si desea Dar de Baja, caso contrario deje desmarcado</small>
                        </div>
                    </div>
                </div>
                <script>
                    function clicEliminar() {
                        $('#eliminar').val('1');
                        $('#btn').html('Eliminar');
                    }
                    ;
                    $("#estado").on('change', function () { //sirve para asignar un valor al checkbox entre seleccionado para dar de baja y deseleccionado para Activar
                        if ($(this).is(':checked')) {
                            $('#btn').html('Dar de Baja');
                            $(this).attr('value', '0');
                        } else {
                            $('#btn').html('Editar');
                            $(this).attr('value', '1');
                        }
                        $('#estado').text($('#estado').val());
                    });
                    //FUNCION PARA ENVIAR EL MENSAJE A CADA USUARIO
                    function llamarFirebase(){
                      //AJAX QUE CONSULTA LA CUENTA PARA OBTENER EL TOKEN
                      $.ajax({
                                url: '/consultarCuentas',
                                type: 'GET',
                                dataType: 'json',
                                success: function (data, textStatus, jqXHR) {
                                  var cuenta=[];
                                  for (var i = 0; i < data.length; i++) {
                                      cuenta[i]=data[i];
                                      console.log(cuenta[i].token);
                                  //AJAX QUE ENVIA EL MENSAJE A CADA USUARIO A TRAVES DE FIREBASE
                                  $.ajax({
                                                    type: 'POST',
                                                    url: "https://fcm.googleapis.com/fcm/send",
                                                    headers: {
                                                        Authorization: 'key=' + 'AAAARvroWFs:APA91bFunI7m1GoDeAsgBS4S4dGhZcIHjwNzwXDkXs8IrWT45BaH0xVEqzYJHE84KhnrwXGEv-ZiR-KUZRIIUaCQG8rCE_21xwtI511uCFxbyv-1dQrwo-fApLtTz0vXw28Z5eid7A2y'
                                                    },
                                                    contentType: 'application/json',
                                                    dataType: 'json',
                                                    collapse_key: "new_messages",
                                                    data: JSON.stringify({
                                                        "to": data[i].token,
                                                        "notification": {
                                                            "title": "Nuevas Rutas",
                                                            "body": "Hola "+data[i].persona.nombre+" Hemos a침adido nuevas rutas para ti! Ve a verlas antes que agoten sus boletos",
                                                            "icon": "/images/icons/logo.png",
                                                            "click_action": "http://localhost:3000/comprar"
                                                        }
                                                    }),
                                                    success: function (response) {
                                                        console.log(response);
                                                    },
                                                    error: function (xhr, status, error) {
                                                        console.log(xhr.error);
                                                    }
                                                });
                                      }
                                }, error: function (jqXHR, textStatus, errorThrown) {

                                }
                            });

                    }

                    $().ready(function () {
                        $("#btn").click(function () {
                            var external = $("#external").val();
                            //  var eliminar = $('#eliminar').val();
                            if (external == "0") {
                                $('#formDestino').attr('action', '/guardar_destino');
                            } else {
                                $('#formDestino').attr('action', '/editarDestino');
                            }
                        });
                    });
                </script>
            </div>
            </form>

             {{#if info }}
                <div class="alert alert-success">
                    {{ info }}
                </div>
                {{/if}}

            <div class="col-12">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                            <form action="/destinosActivos" method="get">
                                <button type="submit" class="btn btn-warning">LISTAR ACTIVOS</button>
                            </form>
                        </div>
                        <div class="col col-lg-2">
                            <form action="/destinos" method="get">
                                <button type="submit" class="btn btn-warning">LISTAR TODOS</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>




<table data-aos='fade-down' class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th><th scope="col">Origen</th><th scope="col">Destino</th>
            <th scope="col">Salida</th><th scope="col">Valor</th><th scope="col">Bus</th>
            <th scope="col">Estado</th><th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each frecuencias as |frecuencia i| }}
        <tr>
            <td>{{i}}</td>
            <td>{{ frecuencia.rutum.origen }}</td>
            <td>{{ frecuencia.rutum.destino }}</td>
            <td>{{ frecuencia.horario }}</td>
            <td>${{ frecuencia.rutum.valor }}</td>
            <td>{{ frecuencia.bus.numeroBus }}</td>
            <td>{{ frecuencia.estado }}</td>
            <td> <a id='bEditar{{i}}' class="btn btn-warning" href="#texto">Seleccionar</a>
                 <a id='bSubRuta{{i}}' class="btn btn-info" href="#texto">A침adir Subruta</a>
             </td>
    <script>
        $("#bEditar{{i}}").click(function () {
            $("#external").val('{{frecuencia.rutum.external_id}}');
            $("#externalFrecuencia").val('{{frecuencia.external_id}}');
            $("#origen").val('{{ frecuencia.rutum.origen }}');
            $("#destino").val('{{ frecuencia.rutum.destino }}');
            $("#fecha").val('{{ frecuencia.fecha }}');
            $("#horaS").val('{{ frecuencia.horario }}');
            $("#valor").val('{{ frecuencia.rutum.valor }}');
            $("#bus").val('{{ frecuencia.bus.id }}');
            $("#divBaja").attr('style', 'visibility:visible;');
        });
        $("#bSubRuta{{i}}").click(function () {
            $("#fecha").attr('readonly','true');
            $("#horaS").attr('readonly','true');
            $("#bus").attr('style','visibility:hidden');
            $("#fecha").val('{{ frecuencia.fecha }}');
            $("#horaS").val('{{ frecuencia.horario }}');
            $("#bus").val('{{ frecuencia.bus.id }}');
        });
    </script>
</tr>
{{/each}}
</tbody>
</table>
</div>
